<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="time"
           data-view="Clock"
           data-title=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="temperature"
           data-view="Text"
           data-text=""></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="humidity"
           data-view="Text"
           data-text=""></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="date"
           data-view="Text"
           data-title=""
           data-text=""></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="forecast"
           data-view="Text"
           data-text=""></div>
    </li>

  </ul>
</div>
